/* Basic styling for the webpage */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #003e51;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Change font here */
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
h1, h2 {
    text-align: center;
}
p {
    text-align: justify;
}
.logo {
    max-height: 50px;
}
.menu-button {
    background-color: #005073;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
